name: Build & Test Maven Project
on:
  push:
  schedule:
    - cron: '0 15 * * *' # daily at 3pm
jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    name: Build Application
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup for JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          java-package: jdk
          cache: maven

      - name: Build & Test application
        run: ./mvnw verify
