name: Build & Test Maven Project
on:
  push:
  schedule:
    - cron: '0 15 * * *' # daily at 3pm
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build Application
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup for JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          java-package: jdk
          cache: maven

      - name: Build & Test application
        run: ./mvnw verify
